*.log
*.pyc
__pycache__/
*.DS_Store
Thumbs.db
.vscode/
.env
backend/env/
env/
venv/
ENV/
.mypy_cache/
.python-version
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.Python
build/
develop-eggs/
dist/
.eggs/
*.egg-info/
.installed.cfg
*.manifest
*.spec
wheels/
downloads/
parts/
lib/
lib64/
sdist/
*.whl
*.egg
db.sqlite3
media/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/
.history
*.bak
!frontend/src/lib/
